@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(255, 255, 255, 0.767),rgba(255, 255, 255, 0.767)), url(../dist/img/topography.svg);
}

